body {
    color: rgb(252, 248, 248);
    background: rgb(32, 49, 163);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(5, 5, 5);
    padding: 20px;
    font-size: 28px;
    color: rgb(252, 249, 249);
}

.chamada {
    background: rgb(17, 10, 109);
    padding-bottom: 90px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

img{
    height: 300px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 2px solid rgb(247, 247, 248);
}

.categoria h2{
    color: rgb(244, 248, 248);
}